/* .footer {
  background-color: #1a1a1a;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  background: linear-gradient(to left, #2a2a2a, #404040);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #eee;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .footer {
    height: 50px;
  }
  .copy {
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: 40px;
  }
  .copy {
    height: 40px;
    font-size: 12px;
  }
} */

.footer {
  background-color: #1a1a1a;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  background: linear-gradient(to left, #2a2a2a, #404040);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #eee;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .footer {
    height: 50px;
  }
  .copy {
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footer {
    height: 40px;
  }
  .copy {
    height: 40px;
    font-size: 12px;
  }
}